* {
    padding: 0;
    margin: 0;
}
/* file:///D:/Workspace/Web/whoami/index.html */
/* https://fontawesome.com/icons/ */
/* https://coolors.co/08090a-a7a2a9-f4f7f5-575a5e-222823 */
.container {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, 10vh);
}

#navbar {
    grid-area: 1 / 1 / 2 / 11;
    background: rgba(0, 128, 0, 0.15);
}

#bio {
    grid-area: 2 / 1 / 10 / 7;
    background: rgba(255, 0, 0, 0.15);
}

#photo {
    grid-area: 2 / 7 / 10 / 10;
    background: rgba(0, 0, 255, 0.15);
}

#social {
    grid-area: 2 / 10 / 10 / 11;
    background: rgba(128, 0, 0, 0.15);
}

#down {
    grid-area: 10 / 1 / 11 / 11;
    background: rgba(255, 255, 0, 0.15);
}